<main>
  <section class="filter">
    <div class="filter_category">
      <div class="title">CATEGORY</div>
    </div>
    <div class="filter_category">
      <div class="title">PRICE</div>
    </div>
    <div class="filter_category">
      <div class="title">BRAND</div>
    </div>
    <div class="filter_category">
      <div class="title">COLOR</div>
    </div>
    <div class="filter_category">
      <div class="title">SIZE</div>
    </div>
    <div class="filter_category">
      <div class="title">MATERIAL</div>
    </div>
    <div class="filter_category">
      <div class="title">CUSTOMER RATING</div>
    </div>
  </section>
  <section class="primary">
    <h3>COOKWARE</h3>
    <div class="search">
      <select class="select_filter">
        <option value="link1">BEST MATCHES</option>
        <option value="link2">PRICE LOW TO HIGH</option>
        <option value="link3">PRICE HIGH TO LOW</option>
        <option value="link4">TOP SELLER</option>
      </select>
    </div>

    <div class="products"></div>
  </section>
</main>
