<div
  class="contenedor"
  [ngStyle]="toggle_menu ? { opacity: '0.5' } : { opacity: '1' }"
>
  <app-event-pop [info]="pop_info"></app-event-pop>
  <app-header class="header"></app-header>
  <app-event-pop [info]="pop_info_2"></app-event-pop>
  <app-picture
    class="picture"
    [desktop]="desktop_banner"
    [mobile]="mobile_banner"
  ></app-picture>
  <br />
  <br />
  <app-picture
    class="picture"
    [desktop]="desktop_picture"
    [mobile]="mobile_picture"
  ></app-picture>
  <br />
  <br />
</div>
<app-footer class="footer"></app-footer>
<ng-container>
  <app-slider-menu
    class="slider"
    [ngStyle]="toggle_menu ? { left: '0' } : { left: '-100%' }"
  ></app-slider-menu>
</ng-container>
