<br /><br />
<main>
  <div class="shop_tittle">SHOP BY CATEGORY</div>
  <br /><br />
  <div class="container_categories">
    <div class="categories">
      <div class="image">
        <img
          src="https://www.surlatable.com/on/demandware.static/-/Sites/default/dw518225e9/images/product_page_2020/350x450_featured_grid_cookware_allclad.jpg"
          alt=""
        />
      </div>
      <div class="name_tittle">COOKWARE</div>
      <button class="shop_button" routerLink="cookware" (click)="prueba()">
        SHOP NOW
      </button>
    </div>
    <div class="categories">
      <div class="image">
        <img
          src="https://www.surlatable.com/on/demandware.static/-/Sites/default/dwd6196e1d/images/product_page_2020/350x450_featured_grid_bakeware.jpg"
          alt=""
        />
      </div>
      <div class="name_tittle">BAKEWARE</div>
      <button class="shop_button">SHOP NOW</button>
    </div>
    <div class="categories">
      <div class="image">
        <img
          src="https://www.surlatable.com/on/demandware.static/-/Sites/default/dw545dc8a0/images/product_page_2020/350x450_featured_grid_kitchenTools.jpg"
          alt=""
        />
      </div>
      <div class="name_tittle">KITCHEN TOOLS</div>
      <button class="shop_button">SHOP NOW</button>
    </div>
    <div class="categories">
      <div class="image">
        <img
          src="https://www.surlatable.com/on/demandware.static/-/Sites/default/dw44a1b415/images/product_page_2020/350x450_featured_grid_knives.jpg"
          alt=""
        />
      </div>
      <div class="name_tittle">KNIVES</div>
      <button class="shop_button">SHOP NOW</button>
    </div>
    <div class="categories">
      <div class="image">
        <img
          src="https://www.surlatable.com/on/demandware.static/-/Sites/default/dwfa4521ae/images/product_page_2020/350x450_featured_grid_smallAppliances.jpg"
          alt=""
        />
      </div>
      <div class="name_tittle">SMALL APPLIANCES</div>
      <button class="shop_button">SHOP NOW</button>
    </div>
    <div class="categories">
      <div class="image">
        <img
          src="https://www.surlatable.com/on/demandware.static/-/Sites/default/dw55eb9153/images/product_page_2020/350x450_featured_grid_dining_home_pearl.jpg"
          alt=""
        />
      </div>
      <div class="name_tittle">DINNING & HOME</div>
      <button class="shop_button">SHOP NOW</button>
    </div>
    <div class="categories">
      <div class="image">
        <img
          src="https://www.surlatable.com/on/demandware.static/-/Sites/default/dwb6a851bb/images/product_page_2020/350x450_featured_grid_teaCoffee.jpg"
          alt=""
        />
      </div>
      <div class="name_tittle">COFFEE & TEA</div>
      <button class="shop_button">SHOP NOW</button>
    </div>
    <div class="categories">
      <div class="image">
        <img
          src="https://www.surlatable.com/on/demandware.static/-/Sites/default/dw4a7b24ba/images/product_page_2020/350x450_featured_grid_outdoors.jpg"
          alt=""
        />
      </div>
      <div class="name_tittle">OUTDOOR</div>
      <button class="shop_button">SHOP NOW</button>
    </div>
    <div class="categories">
      <div class="image">
        <img
          src="https://www.surlatable.com/on/demandware.static/-/Sites/default/dw8d0b9a3c/images/product_page_2020/350x450_featured_grid_food.jpg"
          alt=""
        />
      </div>
      <div class="name_tittle">FOOD</div>
      <button class="shop_button">SHOP NOW</button>
    </div>
    <div class="categories">
      <div class="image">
        <img
          src="https://www.surlatable.com/on/demandware.static/-/Sites/default/dw77416f5e/images/product_page_2020/350x450_featured_grid_new.jpg"
          alt=""
        />
      </div>
      <div class="name_tittle">NEW ARRIVALS</div>
      <button class="shop_button">SHOP NOW</button>
    </div>
    <div class="categories">
      <div class="image">
        <img
          src="https://www.surlatable.com/on/demandware.static/-/Sites/default/dwdc23bdd5/images/product_page_2020/350x450_featured_grid_exclusive.jpg"
          alt=""
        />
      </div>
      <div class="name_tittle">ONLY AT SLT</div>
      <button class="shop_button">SHOP NOW</button>
    </div>
    <div class="categories">
      <div class="image">
        <img
          src="https://www.surlatable.com/on/demandware.static/-/Sites/default/dw23383e03/images/product_page_2020/350x450_featured_grid_best_sellers.jpg"
          alt=""
        />
      </div>
      <div class="name_tittle">BEST SELLERS</div>
      <button class="shop_button">SHOP NOW</button>
    </div>
  </div>
</main>
