<section>
  <div class="logo">
    <img
      class="logo_img"
      src="https://www.surlatable.com/on/demandware.static/Sites-SLT-Site/-/default/dw65efd370/images/SLT_Logo.png"
    />
    <div class="close" (click)="hide()">X</div>
  </div>
  <input type="text" placeholder="Search" id="search" />
  <div class="menu">
    <a href="#" class="categories"><span>Products</span> </a>
    <a href="#" class="categories">Gift</a>
    <a href="#" class="categories">Cooking Classes</a>
    <a href="#" class="categories">Brands</a>
    <a href="#" class="categories">Sale</a>
    <a href="#" class="categories">New</a>
    <a href="#" class="categories">Learn</a>
  </div>
  <div class="container_links">
    <div class="links">
      <a class="link">
        <img src="../../../../assets/icons/user-regular.svg" />
        <p>Sign In</p>
      </a>
      <a class="link">
        <img src="../../../../assets/icons/location-dot-solid.svg" />
        <p>Stores</p>
      </a>
      <a class="link">
        <img src="../../../../assets/icons/envelope-solid.svg" />
        <p>Contact</p>
      </a>
    </div>
  </div>
</section>
