<hr />
<br /><br />
<footer>
  <div class="container">
    <div class="nav">
      <div class="nav_column_1">
        <h3>SUR LA TABLE EXPERIENCE</h3>
        <div class="links">
          <a href="#">COOKING CLASSES</a><a href="#">STORES</a
          ><a href="#">SLT PERKS</a><a href="#">GIFT REGISTRY</a
          ><a href="#">GIFT CARDS</a><a href="#">WISH LIST</a
          ><a href="#">RECIPES</a><a href="#">CART TALK</a
          ><a href="#">LID & LADLE</a><a href="#">PRODUCT COLLECTIONS</a>
        </div>
      </div>
      <div class="nav_column_2">
        <h3>CUSTOMER SERVICE</h3>
        <div class="links">
          <a href="#">CONTACT US</a><a href="#">CHECK ORDER STATUS</a
          ><a href="#">SHIPPING & PICKUP</a><a href="#">RETURNS & EXCHANGES</a
          ><a href="#">GUARANTEE</a><a href="#">PROTECTION PLANS</a
          ><a href="#">ACCESSIBILITY</a><a href="#">FAQS</a
          ><a href="#">COOKING CLASS FAQS</a><a href="#">SITE FEEDBACK</a
          ><a href="#">TERMS & CONDITIONS</a>
        </div>
      </div>
      <div class="nav_column_3">
        <h3>ABOUT SUR LA TABLE</h3>
        <div class="links">
          <a href="#">ABOUT US</a><a href="#">CAREERS</a><a href="#">PRIVACY</a
          ><a href="#">MEDIA RELATIONS</a><a href="#">AFFILIATE PROGRAMS</a
          ><a href="#">COUPONS</a><a href="#">#MAKEMORE</a>
        </div>
      </div>
    </div>
    <div class="signup">
      <div class="container_signup">
        <hr class="j_mobile" />
        <p>
          Sign up for emails and receive $15 off your order of $75 or more.
          <a class="link_a">Exclusions apply</a>
        </p>
        <br />
        <form>
          <input class="email_input" placeholder="Email address" />
          <button type="submit" class="signup_button">SIGN UP</button>
        </form>
      </div>
    </div>
  </div>
  <br />
  <span style="font-size: 12px; margin-left: 10px"
    >© 2023 SLT Lending SPV INC | 317.559.2041 | Site Map</span
  >
</footer>
