<hr />
<footer>
  <div class="container">
    <div class="nav">
      <div class="nav_column_1">
        <h3>SUR LA TABLE EXPERIENCE</h3>
        <div class="links">
          <a href="#">COOKING CLASSES</a><a href="#">STORES</a
          ><a href="#">SLT PERKS</a><a href="#">GIFT REGISTRY</a
          ><a href="#">GIFT CARDS</a><a href="#">WISH LIST</a
          ><a href="#">RECIPES</a><a href="#">CART TALK</a
          ><a href="#">LID & LADLE</a><a href="#">PRODUCT COLLECTIONS</a>
        </div>
      </div>
    </div>
    <div class="signup"></div>
  </div>
</footer>
